.heading {
  font-size: 40px;
  text-align: center;
}

p {
  margin: 0px;
}

.taskInputField {
  background-color: #242424;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  width: 80%;
}

.row {
  display: flex;
  justify-content: center;
}

.taskInputField:focus {
  border: solid teal;
  outline: none;
}

.addBtn {
  height: 40px;
  margin-left: 10px;
  width: 100px;
  background-color: teal;
  border-style: none;
  border-radius: 10px;
}

.addBtn:hover {
  cursor: pointer;
  background-color: rgb(4, 184, 184);
}

.column {
  display: flex;
  flex-direction: column;
}

.taskCard {
  margin-top: 10px;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 100px;
  background-color: teal;
  width: 40px;
  height: 40px;
}

.deleteBtn {
  height: 40px;
  margin-left: 50px;
  width: 100px;
  background-color: red;
  border-style: none;
  border-radius: 10px;
}

.deleteBtn:hover {
  cursor: pointer;
  background-color: rgb(184, 4, 4);
}
